<!DOCTYPE HTML>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="all" href="css/style.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <title>
        Form Perform
    </title>
</head>
<body>   
<div id="help-button">
    Katalog
</div>

<div class="flex-container">
    <div class="pre-item"></div>

    <div class="item home">
        <a href="javascript:void(0);" class="title left">

        </a>
        <div class="body">
            <a href= "mailto:katherina.gorodynska@gmail.com">?</a>
            

        </div>
    </div>

    <div class="v-spacer"></div>

    <div class="item home">
        <div class="body"><br>
<img src='BILDER/Unbenannt-2.jpg'>
<p>Diese Seite ist ein Teil von der Arbeit Form/Perform. Einer Untersuchung zu den Sprachen des Performativen. Eine Arbeit im Rahmen einer Bachelorthesis an der Peter Behrens School of Arts von Katherina Gorodynska. 
        </div>
    </div>

    <div class="post-item"></div>
</div>

<script type="text/template" id="item-template">
	<div id="<%= id %>" class="collapsed <%= className %> item">
		<a href="javascript:void(0);" class="title <%= position %>">
			<%= title %>
		</a>
		<div class="body <%= position %>">
                <%= body %>
			
		</div>
	</div>	
</script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="js/main.js"></script>

  <script>
    for (var i = 0; i < document.links.length; ++i)
      document.querySelector('output').innerText += '<br>' + document.links[i];
   </script>

</body>
</html>